## Catatan :
- Dataset dari tweet english dari 3 negara (Singapura, Thailand, Vietnam) ditarik 1 persatu kemudian di merge
- menggunakan API Microsoft Text Analytic
- Preprocess : 
  - menghapus duplicat content
  - menghapus link dan url image twitter
  - menghapus row 2818 <--- ini di cek manual aja di text analytics
  - dieksport per 1000 karna api cuma bisa handle 1000

In [38]:
import urllib
import json
from http.client import HTTPSConnection
import pandas as pd
import csv
import re

In [65]:
dataset=pd.read_csv("gojekallcountry.csv", encoding="ISO-8859–1")
dataset = dataset[['id', 'Country','tweet']]

In [66]:
print(len(dataset))
dataset = dataset.drop_duplicates('id', keep='last')
print(len(dataset))

3011
2849

In [67]:
dataset.to_csv('gojekallcountry-no-duplicate.csv', index=False)

In [111]:
docs=[]
with open('gojekallcountry-no-duplicate-3.csv','r',encoding='utf-8') as csvFile:
        csvReader = csv.reader(csvFile, delimiter=',')
        next(csvReader, None)
        for row in csvReader:
            tweetnew = re.sub(r"http\S+", "", row[2])
            tweetnew = re.sub(r"pic.twitter.com\S+", "",tweetnew)
            docs.append({"id":row[0] ,"text":tweetnew})

In [112]:
uri = 'gojeksentiment.cognitiveservices.azure.com'
accessKey = 'df79dfd31c0b434d9c2274eb90089372--'

def GetSentiment (documents):
    path = '/text/analytics/v2.0/sentiment'
    
    headers = {'Ocp-Apim-Subscription-Key': accessKey}
    conn = HTTPSConnection (uri)
    body = json.dumps (documents)
    conn.request ("POST", path, body, headers)
    response = conn.getresponse ()
    return response.read ()

documents = {
    'documents': docs
}

In [113]:
result = GetSentiment(documents)

In [114]:
sentiments = json.loads(result)["documents"]

In [115]:
link = pd.DataFrame(columns=['id','score'])
for x in sentiments:
    link = link.append({'id': x["id"],'score': x["score"]}, ignore_index=True)

In [116]:
link

       id     score
0    2000  0.500000
1    2001  0.500000
2    2002  0.500000
3    2003  0.500000
4    2004  0.500000
5    2005  0.500000
6    2006  0.500000
7    2007  0.500000
8    2008  0.247408
9    2009  0.500000
10   2010  0.788854
11   2011  0.500000
12   2012  0.500000
13   2013  0.500000
14   2014  0.913001
15   2015  0.179913
16   2016  0.896950
17   2017  0.241048
18   2018  0.232322
19   2019  0.857581
20   2020  0.500000
21   2021  0.500000
22   2022  0.500000
23   2023  0.500000
24   2024  0.703872
25   2025  0.500000
26   2026  0.899266
27   2027  0.500000
28   2028  0.136854
29   2029  0.500000
..    ...       ...
819  2820  0.500000
820  2821  0.794111
821  2822  0.500000
822  2823  0.735107
823  2824  0.728583
824  2825  0.713081
825  2826  0.500000
826  2827  0.500000
827  2828  0.500000
828  2829  0.500000
829  2830  0.732303
830  2831  0.500000
831  2832  0.732303
832  2833  0.500000
833  2834  0.723328
834  2835  0.500000
835  2836  0.732303
836  2837  0.723328
837  2838  0.723328
838  2839  0.732303
839  2840  0.732303
840  2841  0.779884
841  2842  0.500000
842  2843  0.500000
843  2844  0.500000
844  2845  0.500000
845  2846  0.825565
846  2847  0.500000
847  2848  0.500000
848  2849  0.689449

[849 rows x 2 columns]

In [117]:
link.to_csv('result-3.csv', index=False)