In [1]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt
from IPython.display import clear_output

In [2]:
def join_frame(df_left, df_left_new_col, df_left_key, df_right, df_right_key, df_right_col):
    df_left[df_left_new_col]=""
    lendata = len(df_left)
    progress = 1
    for index, row in df_left.iterrows():
        try:
            df_left.loc[index, df_left_new_col] = df_right[(df_right[df_right_key] == row[df_left_key])][df_right_col].iloc[0]
        except:
            df_left.loc[index, df_left_new_col] = 'No'
        clear_output(wait = True)
        print("Progress: ",np.round(progress/lendata *100,2),"%")
        progress += 1  
    return df_left

In [3]:
dataset=pd.read_csv("result-all.csv", encoding="ISO-8859–1")
dataset1=pd.read_csv("gojekallcountry-no-duplicate-1.csv", encoding="ISO-8859–1")
dataset2=pd.read_csv("gojekallcountry-no-duplicate-2.csv", encoding="ISO-8859–1")
dataset3=pd.read_csv("gojekallcountry-no-duplicate-3.csv", encoding="ISO-8859–1")

In [4]:
dataset

        id     score
0        1  0.500000
1        2  0.500000
2        3  0.500000
3        4  0.148073
4        5  0.721899
...    ...       ...
2843  2845  0.500000
2844  2846  0.825565
2845  2847  0.500000
2846  2848  0.500000
2847  2849  0.689449

[2848 rows x 2 columns]

In [5]:
#Merge No Duplicate Dataset
frames = [dataset1, dataset2,dataset3] 
dataset123 = pd.concat(frames).drop_duplicates().reset_index(drop=True)

In [6]:
len(dataset123)

2848

In [8]:
dataset['sentiment'] = ''
dataset['sentiment_label'] = ''
dataset['tweet'] = ''

In [9]:
#Labeling 
dataset.loc[dataset.score > 0, 'sentiment'] = 'Negative'
dataset.loc[dataset.score == 0.5, 'sentiment'] = 'Neutral'
dataset.loc[dataset.score > 0.6, 'sentiment'] = 'Positive'

dataset.loc[dataset.score > 0, 'sentiment_label'] = '0'
dataset.loc[dataset.score == 0.5, 'sentiment_label'] = '1'
dataset.loc[dataset.score > 0.6, 'sentiment_label'] = '2'

In [11]:
dataset.head(3)

   id  score sentiment sentiment_label tweet
0   1    0.5   Neutral               1
1   2    0.5   Neutral               1
2   3    0.5   Neutral               1

In [12]:
#Insert tweet text from dataset123 to dataset
new_dataset = join_frame(dataset, 'tweet', 'id', dataset123, 'id', 'tweet')

Progress:  100.0 %

In [13]:
print(new_dataset['sentiment_label'].value_counts(dropna=False))

1    2055
2     666
0     127
Name: sentiment_label, dtype: int64

In [14]:
new_dataset[new_dataset['id'] == 251]

,id,score,sentiment,sentiment_label,tweet
250,251,0.834911,Positive,2,Small teams do good work. ÃÂ°Ã Â¸Ã¢ÂÂÃ ÂÃ...

In [15]:
new_dataset.to_csv(r'dataset-machine-learning.csv', index=False)

In [16]:
# dataset.value_counts(dataset['sentiment'],dropna=False).plot.bar()
print(dataset['sentiment'].value_counts(dropna=False))

Neutral     2055
Positive     666
Negative     127
Name: sentiment, dtype: int64