In [34]:
import pandas as pd
import numpy as np
import csv
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

#### Collect dat into Document and Classes List

In [36]:
target = 'dataset-machine-learning.csv'
with open(target,'r',encoding='utf-8') as csvFile:
    csvReader = csv.reader(csvFile, delimiter=',')
    text = []
    classes = []
    
    for row in csvReader:
        sentence = row[4].lower()
        sentenceclass = row[3]
        text.append(sentence)
        classes.append(sentenceclass)

#### Conventional Vectorizer

In [44]:
data_vectorizer = CountVectorizer()
data_feature = data_vectorizer.fit_transform(text)
dataframe = pd.DataFrame(data = data_feature.todense(),columns = data_vectorizer.get_feature_names())

#### TFIDF Vectorizer

In [45]:
tfidf_vectorizer = TfidfVectorizer()
tfidf_feature = tfidf_vectorizer.fit_transform(text)
dataframe2 = pd.DataFrame(data = tfidf_feature.todense(),columns = tfidf_vectorizer.get_feature_names())

In [46]:
dataframe

,00,000,000ã,00ã,01,012859548,01indonesiamajuterus,01jokowibanyakcinta,01jokowimenang,01jokowipresiden,...,â½linkedinã,â½mckinsey,â½ng,â½ride,â½techinasiaã,â½termsk,â½twitterã,â½ã,â¾,â¾ã
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2844,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2845,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,32,0,4
2846,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2847,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2848,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
dataframe2

,00,000,000ã,00ã,01,012859548,01indonesiamajuterus,01jokowibanyakcinta,01jokowimenang,01jokowipresiden,...,â½linkedinã,â½mckinsey,â½ng,â½ride,â½techinasiaã,â½termsk,â½twitterã,â½ã,â¾,â¾ã
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000
2845,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.917887,0.0,0.13442
2846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000
2847,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.237861,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000
2848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.00000

#### Pandas Matrix to List

In [50]:
document = dataframe2.values.tolist()

#### Machine Learning

In [51]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix

a_train, a_test, b_train, b_test = train_test_split(document, classes, test_size=0.33, random_state=42)

In [53]:
# Neural Network model
from sklearn.neural_network import MLPClassifier
model = MLPClassifier(hidden_layer_sizes=(13,13,13),max_iter=500)
model.fit(a_train,b_train)

predictions = model.predict(a_test)
print(classification_report(b_test,predictions))

scores = cross_val_score(model, document, classes, cv=5, scoring='accuracy')
print("Result : ", scores)
print("Mean : ", scores.mean())
print("Max : ", scores.max())

              precision    recall  f1-score   support

           0       0.50      0.21      0.30        42
           1       0.88      0.92      0.90       696
           2       0.68      0.65      0.66       203

    accuracy                           0.83       941
   macro avg       0.69      0.60      0.62       941
weighted avg       0.82      0.83      0.82       941

c:\users\acer\appdata\local\programs\python\python37\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

Result :  [0.64335664 0.74385965 0.83831283 0.74165202 0.75043937]
Mean :  0.7435241020811274
Max :  0.8383128295254832

In [55]:
# Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(a_train,b_train)

predictions = model.predict(a_test)
print(classification_report(b_test,predictions))

scores = cross_val_score(model, document, classes, cv=5, scoring='accuracy')
print("Result : ", scores)
print("Mean : ", scores.mean())
print("Max : ", scores.max())

              precision    recall  f1-score   support

           0       0.33      0.17      0.22        42
           1       0.84      0.76      0.80       696
           2       0.41      0.58      0.48       203

    accuracy                           0.69       941
   macro avg       0.53      0.50      0.50       941
weighted avg       0.72      0.69      0.70       941

c:\users\acer\appdata\local\programs\python\python37\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

Result :  [0.46678322 0.34035088 0.14762742 0.59578207 0.6572935 ]
Mean :  0.44156741633478297
Max :  0.6572934973637962

In [56]:
#Decision Tree model
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(a_train,b_train)

predictions = model.predict(a_test)
print(classification_report(b_test,predictions))

scores = cross_val_score(model, document, classes, cv=5, scoring='accuracy')
print("Result : ", scores)
print("Mean : ", scores.mean())
print("Max : ", scores.max())

              precision    recall  f1-score   support

           0       0.17      0.07      0.10        42
           1       0.84      0.88      0.86       696
           2       0.53      0.50      0.51       203

    accuracy                           0.76       941
   macro avg       0.51      0.48      0.49       941
weighted avg       0.74      0.76      0.75       941

c:\users\acer\appdata\local\programs\python\python37\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

Result :  [0.57342657 0.75263158 0.86115993 0.5202109  0.7029877 ]
Mean :  0.6820833352199553
Max :  0.8611599297012302

In [57]:
#SVM model
from sklearn import svm
model = svm.SVC(kernel='linear')
model.fit(a_train,b_train)

predictions = model.predict(a_test)
print(classification_report(b_test,predictions))

scores = cross_val_score(model, document, classes, cv=5, scoring='accuracy')
print("Result : ", scores)
print("Mean : ", scores.mean())
print("Max : ", scores.max())

              precision    recall  f1-score   support

           0       0.50      0.05      0.09        42
           1       0.86      0.95      0.90       696
           2       0.69      0.58      0.63       203

    accuracy                           0.83       941
   macro avg       0.68      0.52      0.54       941
weighted avg       0.81      0.83      0.81       941

c:\users\acer\appdata\local\programs\python\python37\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

Result :  [0.6958042  0.73859649 0.83304042 0.76625659 0.77328647]
Mean :  0.7613968333642738
Max :  0.8330404217926186